<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet"> 
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">    
</head>

<body class="w3-light-grey">

    <nav class="w3-sidebar w3-bar-block w3-black w3-animate-right w3-top w3-text-light-grey w3-large" 
    style="z-index:3;width:250px;font-weight:bold;display:none;right:0;" id="mySidebar">
        <a href="#" onclick="w3_close()" class="w3-bar-item w3-button w3-center w3-padding-16"> HOME DETECTOR</a> 
        <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button w3-center w3-padding-16">DOG INFORMATION</a> 
        <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button w3-center w3-padding-16">LIBRARIES SOURCE CODE</a>
        <a href="javascript:void()" onclick="w3_close()" class="w3-bar-item w3-button w3-center w3-padding-32">CLOSE</a> 
    </nav>
  
    <!-- Top menu on small screens -->
    <header class="w3-container w3-top w3-black w3-xlarge w3-padding-16">
        <span class="w3-left w3-padding" style="font-size: 200%;"><b>DOG DETECTOR</b></span>
        <a href="javascript:void(0)" class="w3-right w3-button w3-white" onclick="w3_open()">☰</a>
    </header>
    
    <div class="container">
        <div id="content" style="margin-top:2em">{% block content %}{% endblock %}</div>
    </div>

    
    <div class="w3-overlay w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
    
    <div class="w3-main w3-content" style="max-width:1600px;margin-top:83px" id="about">
        
        <!-- <div class="w3-row w3-grayscale-min"> -->
            <div class="w3-container w3-center w3-padding-32" style="background-color: white; color: black;">
                <div class="w3-row w3-grayscale-min">
                    <div class="w3-quarter">
                        <div class="container" style="font-size: 400%; width: 100%; text-align: left;">
                            <p> ‍  ‍  ‍  ‍  ‍  ‍  ‍  ‍  ‍  ‍  ‍  ‍  ‍  ‍  ‍  ‍ Dog Information‍</p>
                        </div>
                        <img src="https://scontent.fbkk26-1.fna.fbcdn.net/v/t1.0-9/131945171_686185808926765_2075610307358928775_n.jpg?_nc_cat=104&ccb=2&_nc_sid=8bfeb9&_nc_eui2=AeE_ruickSm2bWJA6a37B8lkbLdXD5rA1Hdst1cPmsDUdwoykcpF7skbgeIb4IJIWfOhUIyuRQ_-sbd9l-lXgDqZ&_nc_ohc=mTxEaR0BbmoAX_hiUdL&_nc_ht=scontent.fbkk26-1.fna&oh=bab00a120b74646948d91e77aa7a1ea9&oe=6003BA6F" 
                        style="width:100%" onclick="onClick(this)" alt="Maple">
                        <img src="https://scontent.fbkk26-1.fna.fbcdn.net/v/t1.0-9/131994913_686185912260088_2723938782060074321_n.jpg?_nc_cat=110&ccb=2&_nc_sid=8bfeb9&_nc_eui2=AeG8rrpF-HvQANGmIWwBOZI_1j4DAFhL85XWPgMAWEvzlZRy9yAHje30E1bXmUnsXwyoaObggY_MFmBqvyIvwph2&_nc_ohc=XQnb3JEITrwAX_HWX2m&_nc_ht=scontent.fbkk26-1.fna&oh=85a189928a1c13ee81429ba07c1498ae&oe=6003D6C2" 
                        style="width:100%" onclick="onClick(this)" alt="Manny">
                    </div>
                    
                    <div class="w3-quarter">
                        <img src="https://scontent.fbkk26-1.fna.fbcdn.net/v/t1.0-9/131639737_686185798926766_4286052952269120344_n.jpg?_nc_cat=104&ccb=2&_nc_sid=8bfeb9&_nc_eui2=AeF7RyOAvzt3nS3ICnfr1py-_6dHPtUshtb_p0c-1SyG1nW7IW0H9Grze00fK-6jiQ52tSsZP8nmyIC8q_1qiPWs&_nc_ohc=E-8-LQh1EMkAX9nVWK9&_nc_ht=scontent.fbkk26-1.fna&oh=e690b45d69e4c4de3b82ea68e9398592&oe=60023009" 
                        style="width:100%" onclick="onClick(this)" alt="Topi">
                        <img src="https://scontent.fbkk26-1.fna.fbcdn.net/v/t1.0-9/131370444_686185755593437_5113564689241073374_n.jpg?_nc_cat=107&ccb=2&_nc_sid=8bfeb9&_nc_eui2=AeFNp75tEBpy81nNi8FjkCSTiQVQN1TkIQuJBVA3VOQhC-cZ52xRPH13lGjKZUXkD60rbRzvR7grdJwm7zTfCdB-&_nc_ohc=jKWf0xhFwvgAX9n3MBs&_nc_ht=scontent.fbkk26-1.fna&oh=c0c41e9590b85480f379edc2d8986672&oe=6001CC4B" 
                        style="width:100%" onclick="onClick(this)" alt="Hana">
                        <img src="https://scontent.fbkk26-1.fna.fbcdn.net/v/t1.0-9/131503560_686185965593416_7552198452047809554_n.jpg?_nc_cat=109&ccb=2&_nc_sid=8bfeb9&_nc_eui2=AeH6uAOeeqPEa5H6oBEQ0E5kRucsT_zxbudG5yxP_PFu56TAP43SXL56d-smsVNLLakkIwt7CFovn38vu9qtoAj4&_nc_ohc=9JvFurFSUgEAX9x3DOy&_nc_ht=scontent.fbkk26-1.fna&oh=eeaeaf803f63087a0bdd064dbf5e77eb&oe=600573B1" 
                        style="width:100%" onclick="onClick(this)" alt="Kaojao">
                    </div>
                    
                    <div class="w3-quarter">
                        <img src="https://scontent.fbkk26-1.fna.fbcdn.net/v/t1.0-9/131238697_686185862260093_566185941339470930_n.jpg?_nc_cat=103&ccb=2&_nc_sid=8bfeb9&_nc_eui2=AeGwBRykcCdCnc6slidiPOlIGMR5mNSJyYYYxHmY1InJhsiiaCwhVgfOuCJJtF5_VfXxa3xpKmJhGdVB18wZdDqM&_nc_ohc=oIf41MegwXgAX8TMTwg&_nc_ht=scontent.fbkk26-1.fna&oh=1520a45c10c1b8ed549831f58817e8b1&oe=6002C60A" 
                        style="width:100%" onclick="onClick(this)" alt="Dougie">
                        <img src="https://scontent.fbkk26-1.fna.fbcdn.net/v/t1.0-9/131758005_686185692260110_1063438406743775215_n.jpg?_nc_cat=103&ccb=2&_nc_sid=8bfeb9&_nc_eui2=AeHUAGt1C3x7gX4amX6BjaOom3Sqigr_L6CbdKqKCv8voMSUruyQ0QSG_9s3MUa44dxqiaViodAfqETphyknOk5P&_nc_ohc=ZO54DsTxiLsAX9onlBv&_nc_ht=scontent.fbkk26-1.fna&oh=3c4861c37cfdafd1ebbc713c99f5924a&oe=60036A63" 
                        style="width:100%" onclick="onClick(this)" alt="Ninja">
                        <img src="https://scontent.fbkk26-1.fna.fbcdn.net/v/t1.0-9/131928662_686185918926754_8282122446776632028_n.jpg?_nc_cat=106&ccb=2&_nc_sid=8bfeb9&_nc_eui2=AeHeWL6kMlqZVU7XMmrX-fT-DnZgrLAd2VkOdmCssB3ZWVpEG598biOjoE3tS6VKgT18B53Cc5BVG60zoYr2Hh1x&_nc_ohc=NK3NoITD-CEAX8G2Txk&_nc_ht=scontent.fbkk26-1.fna&oh=2db8b1acfd354790368a547b82d2cd00&oe=600360FC" 
                        style="width:100%" onclick="onClick(this)" alt="Luke">
                    </div>
                
                    <div class="w3-quarter">
                        <img src="https://scontent.fbkk26-1.fna.fbcdn.net/v/t1.0-9/131944672_686185738926772_7808524184842406052_n.jpg?_nc_cat=101&ccb=2&_nc_sid=8bfeb9&_nc_eui2=AeE-owJQKNWRGgicc0dUyAj_KvXHqGWYQSsq9ceoZZhBK3mBSWPqVAa3UBcB_EM737BkExAcKARudl4_GFykJZmU&_nc_ohc=XYVpryjCZD0AX8H3nrO&_nc_ht=scontent.fbkk26-1.fna&oh=1d5ba138eee43cf1b54316cd5015d950&oe=60056261" 
                        style="width:100%" onclick="onClick(this)" alt="Kiara">
                        <img src="https://scontent.fbkk26-1.fna.fbcdn.net/v/t1.0-9/130976462_686185875593425_670413638914636549_n.jpg?_nc_cat=109&ccb=2&_nc_sid=8bfeb9&_nc_eui2=AeErE8CFA_7lw2M8Q3sDIIHLSfcFnmOB5sFJ9wWeY4HmwbCS_RoXXsft7BXW4krS8BXfhiXWztizTlbUeDYxc436&_nc_ohc=4Zdt_vOEF0QAX9319hG&_nc_ht=scontent.fbkk26-1.fna&oh=7d92c6b75afab8aacd86c3062db63545&oe=60032BB1" 
                        style="width:100%" onclick="onClick(this)" alt="Finn">
                        <img src="https://scontent.fbkk26-1.fna.fbcdn.net/v/t1.0-9/131237910_686185695593443_926739093840578960_n.jpg?_nc_cat=106&ccb=2&_nc_sid=8bfeb9&_nc_eui2=AeEA9P4XFzZtNXz8UOHXeUtELzxbndXt_c0vPFud1e39zX-qbAv3n4ZzkHx2YltjVMHmQLUWvGZn23HSEql33Hc8&_nc_ohc=XA5rB199v84AX9oixaL&_nc_ht=scontent.fbkk26-1.fna&oh=cccb4c6e6bc848c606104ff5740278ff&oe=60055CF3" 
                        style="width:100%" onclick="onClick(this)" alt="Maya">
                    </div>
                </div>
                  
                  <!-- Modal for full size images on click-->
                  <div id="modal01" class="w3-modal w3-black" style="padding-top:0; " onclick="this.style.display='none'">
                    <span class="w3-button w3-black w3-xlarge w3-display-topright">X</span>
                    <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
                      <img id="img01" class="w3-image" style="width:50%">
                      <p id="caption" style="font-size: 150%;"></p>
                      <p id=inf1></p>
                      <p id=inf2></p>
                      <p id=inf3></p>
                    </div>
                  </div>
            </div>


            <!-- Contact section -->
            <div class="w3-container w3-light-grey w3-padding-32 w3-padding-large" id="contact">
                <div class="w3-content" style="max-width:600px">
                <p class="w3-center" style="font-size:300%"><b>LIBRALIES SOURCE CODE FOR DEEP LEARNING</b></p>
                <p style="text-align: center; font-size: 25;">Special Thanks</p>
                <form action="/action_page.php" target="_blank">
                    <div class="w3-section">
                        
                        <button type="submit" class="w3-button w3-block w3-black w3-margin-bottom" onclick="location.href='https://www.fast.ai/'" 
                        style="text-align: center;">FASAI LIBRALIES</button>
                    </div>

                    <div class="w3-section">
                        
                        <button type="submit" class="w3-button w3-block w3-black w3-margin-bottom" onclick="location.href='https://medium.com/swlh/dog-breed-classification-using-flask-ef99259d38c'" 
                        style="text-align: center;">DEEP LEARNING USING FLASK</button>
                    </div>
                    
                    <div class="w3-section">
                    
                        <button type="submit" class="w3-button w3-block w3-black w3-margin-bottom" onclick="location.href='https://www.w3schools.com/'" 
                        style="text-align: center;">HOW TO LEARNING HTML, CSS, BOOSTRAP, JQUERY ON W3SCHOOLS</button>
                    </div>
                </form>
                </div>
            </div>
    </div>

</body>

<footer>
    <script src="{{ url_for('static', filename='js/main.js') }}" type="text/javascript"></script>    
</footer>
<style>
    body {
    background: url(https://www.bluecross.org.uk/sites/default/files/d8/assets/images/husky%20top%20image.jpg);
    background-repeat: no-repeat;
    background-size:100%;
    height: 100vh;
    background-color: #ffc107;
    }		

    body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
    .w3-quarter img{margin-bottom: -6px; cursor: pointer}
    .w3-quarter img:hover{opacity: 0.6; transition: 0.3s}

</style>
</html>